<h3>found on</h3>
<object   height="35" width="35" data="{{ root_url }}/images/social_glyphs/twitter.svg" type="image/svg+xml"></object>
<object   height="35" width="35" data="{{ root_url }}/images/social_glyphs/GitHub circle.svg" type="image/svg+xml"></object>
<object   height="35" width="35" data="{{ root_url }}/images/social_glyphs/StackOverflow.svg" type="image/svg+xml"></object>

<object   height="35" width="35" data="{{ root_url }}/images/social_glyphs/Linked in.svg" type="image/svg+xml"></object>

{% if site.email %}
<h3>contact at</h3>
<a href="mailto:{{ site.email }}">{{ site.email }}</a>


{% endif %}
	